.about-us-container {
  padding: 16px;
  text-align: center;
  background-color: #00BCD4;
}

.about-us-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}

.about-us-text {
  margin-bottom: 16px;
  font-size: 16px;
}

.about-us-subtitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}

.about-us-list {
  margin-bottom: 16px;
  font-size: 16px;
  padding-left: 20px;
}
